@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

body {
    // background-color: rgb(63,74,84) !important;
    color: rgb(55,56,58);
    // color: white;
    font-family: 'Lato';
    font-size: 14px;
    background-color: rgb(246,246,246);
    // background-color: rgb(218,226,232);
    // background-color: rgb(158,138,139);
    
    
}

h2 {
    font-weight: 400;
    font-family: 'Lato';
    color: rgba(#333, .6);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h3 {
    font-size: 14px;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
}


.experience {
    font-size: 14px;

    span {
        opacity: 70%;
        white-space: nowrap;
    }

    &__item {
        margin-bottom: 30px;
    }
}

.line-container {
    position: relative;
    top: 3px;
    height: calc(100% + 50px);
    display: none;

    .line {
        position: absolute;
        border-left: 1px rgba(55,56,58, .3) dotted;
        height: calc(100% - 7px);
        left: 50%;
        transform: translate(50%, 7px);

        &:before {
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 50%;
            position: absolute;
            background: rgba(55,56,58, .3);
            left: -4px;
            top: -7px;
        }

        &--stop {
            border-left: 1px transparent dotted;
        }
    }

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(246,246,246);
        bottom: 0;
    }

    @include media($bp-md) {
        display: block;
    }
}

.delay {
    opacity: 0;
    // transform: translateY(20px);
}

$delays: 3000, 4000, 4100, 4200, 4300, 4400, 4500, 5000, 5500, 5700, 5800, 5900, 6000, 6300, 8000, 8300, 8700, 9300, 10700, 11300, 12700;

@each $delay in $delays {
    .mb-delay-#{$delay}.show {
        @include media($bp-md-above) {
            transition: opacity 0.5s ease-in-out,
                        transform .5s ease-in-out;
            transition-delay: #{$delay}ms; 
        }
    }

    .delay-#{$delay}.show {
        opacity: 1;
        transform: translateY(0);

        @include media($bp-md) {
            transition: opacity 0.5s ease-in-out,
                        transform .5s ease-in-out;
            transition-delay: #{$delay}ms;
        }
    }

    .overlay-delay-#{$delay}.show {
        height: 0 !important;
        transition: height 2s ease;

        @include media($bp-md) {
            transition-delay: #{$delay}ms;
        }
    }
}

.projects {
    font-size: 14px;

    span {
        opacity: 70%;
    }

    $hover: '';

    &__item {
        position: relative;
        margin-bottom: 30px;

        @include media($bp-md) {
            margin-top: -180px;
        }

        @include media($bp-lg) {
            margin-top: -200px;
        }

        &--no-margin {
            margin-top: 0;
        }

        &:hover {
            $hover: &;
        }

        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &__image {
            width: 100%;
            overflow: hidden;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            transition: box-shadow 0.3s ease-in-out;

            #{$hover} & {
                box-shadow: 0 1px 2px rgba(0,0,0,0);
            }

            img {
                width: 100%;
            }
        }

        &__title {
            transition: color 0.3s ease-in-out;

            #{$hover} & {
                color: rgba(0,0,0,0.5);
            }
        }
    }
}

.contact {
    div {
        position: relative;

        a {
            color: rgba(#333, .6);
        }

        a, p {
            margin: 0;

            @include media($bp-xs) {
                margin: 0 0 0 25px;
            }
        }

        .fa {
            position: absolute;
            left: -25px;
            top: 3px;
            color: rgba(#333, .9);

            @include media($bp-xs) {
                left: 0px;
            }
        }
    }
}

.list {
    margin-bottom: 30px;
}

.main-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;

    .container-title {
        width: 100%;
        margin-top: 0;

        @include media($bp-sm) {
            margin-top: 50px;
        }
    }

    .row {
        display: flex;
        margin-top: 50px;

        .profile-container {
            &__image {
                overflow: hidden;
                margin: auto;
                height: 100%;
                width: 100%;

                margin-bottom: 50px;
                text-align: center;

                @include media($bp-sm) {
                    margin-bottom: 0px;
                }

                img {
                    position: relative;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top;
                    height: 230px;
                    width: 230px;

                    box-shadow: 0 1px 2px rgba(0,0,0,0);
                    transition: height 0.3s ease-in-out, 
                                width 0.3s ease-in-out, 
                                box-shadow 0.3s ease-in-out;

                    &:hover {
                        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
                        height: 300px;
                        width: 300px;
                    }

                    @include media($bp-sm) {
                        position: absolute;
                        left: 40%;
                        top: 45%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

/* override styles when printing */
@media print {
    .projects {
        .row {
            display: flex;
            .projects__item {
                max-width: 50%;
            }
        }
    }
}